geopy
httpx
selenium-wire
selenium
imagehash
pillow
python-dateutil
colorama
chromedriver-autoinstaller
beautifultable
termcolor
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability