geopy
httpx
selenium-wire
selenium
imagehash
pillow
python-dateutil
colorama
chromedriver-autoinstaller
beautifultable
termcolor
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability